body {
   background-image: url(https://static.tildacdn.com/tild6138-3934-4264-b566-636464356634/1.svg);
  width: 800px;
  height: auto;
  opacity: 0.9;
  background-size: contain;
  margin: 0 auto;
  
}
/* Form */
#survey-form {
  font-family: Arial;
  font-size: 17px;
  padding:20px;
  align-content: center;
  width: 650px;
  height: auto;
  margin: 20px auto;
  background-color: rgb(218, 198, 198);
  color: black;
  position: relative;
  right: -17px;
}

div {
 margin: 10px 10px 10px 10px;
}

/* Button margin */

#textarea {
  margin-top: 5px;
  margin-bottom: 10px;
}

/*Title*/

h3 {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#description {
  font-style: italic;
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;

}

#title {
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#description {
  text-align: center;
}

/* Field */
#name , #email , #number , #dropdown , #textarea , #password {
  padding: 10px;
  width: 100%;
  height: auto;
}

/* button */
#submit {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  color: fff;
  background-color: green;
  
}
